.appContainer {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.componentContainer {
  margin: 40px;
  border: 2px solid #e5e5e5;
}

.orderComponentContainer {
  margin-top: 40px;
  margin-bottom: 10px;
  border: 2px solid #e5e5e5;
}

.table {
  min-width: 650px;
}

.tableheader {
  background-color: #eee;
}

a.tableLink {
  text-decoration: none;
}

:focus {
  outline: none;
}
