.formContainer {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 40px;
    width: 90%;
  }

  .formContent {
      margin-top: 10px;
      border: 2px solid #ccc;
  }

  .selectFormControl.MuiFormControl-root {
      min-width: 180px;
      margin-left: 80px;
  }

  .selectInputLabel.MuiFormLabel-root {
      padding-left: 5px;
  }

  .createHeaderField {
      display: flex;
      align-items: center;
      margin: 5px;
      border: 2px solid #e5e5e5;
      padding-left: 10px;
  }

  .createHeaderLabel.MuiFormControl-root {
      min-width: 200px;
  }

  .createHeaderItem, .createHeaderItem.MuiFormControl-root {  
    margin: 5px;
    margin-left: 80px;
  }

  .enableButton {
    margin-left: auto;
    margin-right: 5px;
}
  