.formContainer {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 40px;
    width: 90%;
    min-height: 380px;
  }

  .propertyContainer {
      margin-left: 40px;
      display: flex;
      align-items: center;
  }

  .formContent {
      margin-top: 10px;
      border: 2px solid #ccc;
  }

  .selectFormControl.MuiFormControl-root {
      min-width: 180px;
      margin-left: 80px;
  }

  .selectPropertyFormControl.MuiFormControl-root {
    min-width: 180px;
}

  .selectInputLabel.MuiFormLabel-root {
      padding-left: 5px;
  }

  .createField {
      display: flex;
      align-items: center;
      margin: 5px;
      border: 2px solid #e5e5e5;
      padding-left: 10px;
  }

  .createLabel.MuiFormControl-root {
      margin-top: 5px;
      margin-bottom: 5px;
      min-width: 200px;
  }

  .createItem, .createItem.MuiFormControl-root {  
    margin: 5px;
    margin-left: 80px;
  }

  .actionButton {
    margin-left: auto;
    margin-right: 5px;
}

.sectionPropertiesToolbar {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.toolbarButton {
    margin-left: 10px;
}

.subLabelContainer {
    margin-left: 10px;
}

.subLabelItem {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.addButton {
    margin-left: 20px;
}

.sectionTitle {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


  